{% extends 'base.html.twig' %}

{% block title %}Team{% endblock %}

{% block body %}
    <h1>Team</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>TeamName</th>
                <td>{{ team.teamName }}</td>
            </tr>
            <tr>
                <th>DateCreate</th>
                <td>{{ team.dateCreate ? team.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DateUpdate</th>
                <td>{{ team.dateUpdate ? team.dateUpdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Point</th>
                <td>{{ team.point }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_team_index') }}">back to list</a>

    <a href="{{ path('app_team_edit', {'id': team.id}) }}">edit</a>

    {{ include('team/_delete_form.html.twig') }}
{% endblock %}
