{% extends 'base.html.twig' %}

{% block title %}TeamTask index{% endblock %}

{% block body %}
    <h1>TeamTask index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Task_id</th>
                <th>DateCreate</th>
                <th>Title</th>
                <th>Description</th>
                <th>Difficult</th>
                <th>Point</th>
                <th>Color</th>
                <th>Periodicity</th>
                <th>Target</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for team_task in team_tasks %}
            <tr>
                <td>{{ team_task.taskId }}</td>
                <td>{{ team_task.dateCreate ? team_task.dateCreate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ team_task.title }}</td>
                <td>{{ team_task.description }}</td>
                <td>{{ team_task.difficult }}</td>
                <td>{{ team_task.point }}</td>
                <td>{{ team_task.color }}</td>
                <td>{{ team_task.periodicity }}</td>
                <td>{{ team_task.target }}</td>
                <td>
                    <a href="{{ path('app_team_task_show', {'task_id': team_task.task_id}) }}">show</a>
                    <a href="{{ path('app_team_task_edit', {'task_id': team_task.task_id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_team_task_new') }}">Create new</a>
{% endblock %}
