{% block body %}
    <h1>Create Group</h1>


    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.score) }}
        {{ form_row(form.submit) }}
        
    {{ form_end(form) }}
    <style>
    /* Général */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Titre */
h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 24px;
    color: #333;
}

/* Formulaire */
form {
    width: 60%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Champs de formulaire */
input[type="text"],
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Bouton de soumission */
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
}

input[type="submit"]:hover {
    background-color:rgb(47, 212, 55);
}

/* Style des labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Responsive */
@media (max-width: 768px) {
    form {
        width: 90%;
    }
}

        
    </style>
{% endblock %}
