{% extends 'base.html.twig' %}

{% block title %}Mon Profil{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center">Modifier mon profil</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <div class="row justify-content-center">
        <div class="col-md-6">
            {{ form_start(form) }}
                <div class="mb-3">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.username) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.email) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.plainPassword) }}
                    {{ form_widget(form.plainPassword, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.plainPassword) }}
                </div>
                <div class="mb-3">
                    {{ form_label(form.profilePicture) }}
                    {{ form_widget(form.profilePicture, {'attr': {'class': 'form-control'}}) }}
                    {{ form_errors(form.profilePicture) }}
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    {% if app.user.profilePicture %}
        <div class="text-center mt-4">
            <img src="{{ asset('uploads/' ~ app.user.profilePicture) }}" alt="Photo de profil" class="img-thumbnail" style="max-width: 200px;">
        </div>
    {% endif %}
</div>
{% endblock %}
